<!DOCTYPE html>
<html>
    <head>
        <!-- lib -->
        <script src="assets/js/lib/vue.min.js"></script>
        <script src="assets/js/lib/three.min.r124.js"></script>
        <script src="assets/js/lib/simplex-noise.2.3.0.min.js"></script>
        <script src="assets/js/lib/tween.umd.js"></script>


        <!-- postprocess -->
        <script src="assets/js/postprocess/EffectComposer.js"></script>
        <script src="assets/js/postprocess/RenderPass.js"></script>
        <script src="assets/js/postprocess/ShaderPass.js"></script>
        <script src="assets/js/postprocess/BloomPass.js"></script>
        <script src="assets/js/postprocess/FilmPass.js"></script>
        <script src="assets/js/postprocess/FilmShader.js"></script>
        <script src="assets/js/postprocess/ConvolutionShader.js"></script>
        <script src="assets/js/postprocess/CopyShader.js"></script>
        <script src="assets/js/postprocess/FXAAShader.js"></script>


        <!-- const -->
        <script src="assets/js/const/const.js"></script>


        <!-- method -->
        <script src="assets/js/method/method.js"></script>


        <!-- viewport -->
        <script src="assets/js/viewport/viewport.js"></script>
        <script src="assets/js/viewport/viewport.param.js"></script>
        <script src="assets/js/viewport/viewport.method.js"></script>


        <!-- component -->
        <script src="assets/js/component/comp.js"></script>


        <!-- application -->
        <!-- app -->
        <script src="assets/js/application/app/app.js"></script>
        <script src="assets/js/application/app/app.param.js"></script>
        <script src="assets/js/application/app/app.build.js"></script>

        <!-- sphere -->
        <script src="assets/js/application/sphere/sphere.js"></script>
        <!-- sphere particle -->
        <script src="assets/js/application/sphere/particle/sphere.particle.param.js"></script>
        <script src="assets/js/application/sphere/particle/sphere.particle.method.js"></script>
        <script src="assets/js/application/sphere/particle/sphere.particle.shader.js"></script>
        <script src="assets/js/application/sphere/particle/sphere.particle.build.js"></script>
        <!-- sphere atmosphere -->
        <script src="assets/js/application/sphere/atmosphere/sphere.atmosphere.param.js"></script>
        <script src="assets/js/application/sphere/atmosphere/sphere.atmosphere.shader.js"></script>
        <script src="assets/js/application/sphere/atmosphere/sphere.atmosphere.build.js"></script>
        <!-- sphere glitter -->
        <script src="assets/js/application/sphere/glitter/sphere.glitter.param.js"></script>
        <script src="assets/js/application/sphere/glitter/sphere.glitter.build.js"></script>
        <!-- sphere icosahedron -->
        <script src="assets/js/application/sphere/icosahedron/sphere.icosahedron.param.js"></script>
        <script src="assets/js/application/sphere/icosahedron/sphere.icosahedron.build.js"></script>
        <!-- sphere orbit -->
        <script src="assets/js/application/sphere/orbit/sphere.orbit.param.js"></script>
        <script src="assets/js/application/sphere/orbit/sphere.orbit.build.js"></script>
        <!-- sphere build -->
        <script src="assets/js/application/sphere/sphere.param.js"></script>
        <script src="assets/js/application/sphere/sphere.build.js"></script>

        <!-- bar -->
        <script src="assets/js/application/bar/bar.js"></script>
        <!-- bar child -->
        <script src="assets/js/application/bar/child/bar.child.param.js"></script>
        <script src="assets/js/application/bar/child/bar.child.build.js"></script>
        <!-- bar build -->
        <script src="assets/js/application/bar/bar.param.js"></script>
        <script src="assets/js/application/bar/bar.build.js"></script>


        <!-- element -->
        <!-- top_square -->
        <script src="assets/js/element/top_square/top_square.js"></script>
        <!-- top_square line -->
        <script src="assets/js/element/top_square/line/top_square.line.param.js"></script>
        <script src="assets/js/element/top_square/line/top_square.line.build.js"></script>
        <!-- top_square data -->
        <script src="assets/js/element/top_square/data/top_square.data.param.js"></script>
        <script src="assets/js/element/top_square/data/top_square.data.build.js"></script>
        <!-- top_square build -->
        <script src="assets/js/element/top_square/top_square.build.js"></script>


        <!-- style -->
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <div id="object">
                <canvas id="canvas"></canvas>
            </div>
            <div id="element" :style="elementViewport">
                <div class="ui ui-sphere">
                    <div class="ui-sphere-object-wrap">
                        <div class="ui-sphere-object"></div>
                    </div>
                </div>
                <div class="ui ui-bar">
                    <div class="ui-bar-wrap">
                        <div class="ui-bar-object"></div>
                    </div>
                </div>
                <div class="ui ui-top-square">
                    <div class="ui-top-square-line-wrap">
                        <div class="ui-top-square-line"
                            v-for="i in element.top_square.child.line.getElement()"
                            :key="i.id"
                            :style="i.style"
                        ></div>
                    </div>
                    <div class="ui-top-square-data-container">
                        <div class="ui-top-square-data-wrap"
                            v-for="i in element.top_square.child.data.getElement()"
                            :key="i.id"
                        >
                            <div class="ui-top-square-data"
                                v-for="j in i.arr"
                                :key="j.id"
                                :style="j.style"
                            ></div>
                        </div>
                    </div>
                    <div class="ui-top-square-text">
                        <span>DATA_TYPE</span>
                    </div>
                    <div class="ui-top-square-bar"></div>
                </div>
            </div>
        </div>
        <script src="assets/js/main/main.js"></script>
    </body>
</html>